/**/*.sqlite
/**/local.json
/**/node_modules/
/**/own_modules/
/**/package-lock.json
/**/ttttest.*
/.idea/
/atlassian-ide-plugin.xml
/cfg/local.*
/composer.lock
/package-lock.json
/tmp/
/var/*.pid
/var/store/**
