:root {
    /* base colors */
    --color-base: #CB5D22;
    --color-darker: #713413;
    --color-darkest: #2A180E;
    --color-lighter: #E6966B;
    --color-lightest: #F4CFBC;
}

:root {
    /* dimensions */
    --dim-bottomBar-h: 50px;
    --dim-topBar-h: 50px;
}

.t-grid-rows, .t-grid-cols {
    --grid-gap: 5px;
}
